.searchbar{
    border: 3px solid var(--color-headline);
    padding-bottom: var(--em2);
    padding-top: var(--em-2);
    padding-left: var(--em3);
    padding-right: var(--em3);
  }
  
  .searchbar input{
    height: var(--rem6);
    margin-top: var(--em-5);
  }

  .searchbar input[type=time]{
    width: 10rem;
  }

  .button{
    width: 10rem;
    height: var(--rem6);
    border-radius: 5px;
    font-size: var(--rem0);
    margin-block-start: auto!important;
  }


  .button--primary{
    background-color: var(--color-button-primary);
    color: white;
  }